<VirtualHost *:80>
    ServerName  {{ server_name }}
    DirectoryIndex index.html index.php
    DocumentRoot {{ root }}
    LogLevel warn
    ErrorLog  {{ logs }}/error.log
    CustomLog {{ logs }}/access.log combined
    Options -Indexes -FollowSymLinks
</VirtualHost>
<VirtualHost *:443>
    SSLEngine On
    SSLCertificateFile    /etc/ssl/certs/ssl-cert-snakeoil.pem
    SSLCertificateKeyFile /etc/ssl/private/ssl-cert-snakeoil.key
    ServerName  {{ server_name }}
    DirectoryIndex index.html index.php
    DocumentRoot {{ root }}
    LogLevel warn
    ErrorLog  {{ logs }}/error.log
    CustomLog {{ logs }}/access.log combined
    Options -Indexes -FollowSymLinks
</VirtualHost>
