<VirtualHost *:80>
    ServerName  {{ server_name }}
    DirectoryIndex index.html index.php
    DocumentRoot {{ root }}
    LogLevel warn
    ErrorLog  {{ logs }}/error.log
    CustomLog {{ logs }}/access.log combined
    Options -Indexes -FollowSymLinks
</VirtualHost>
<Directory "{{ root }}">
  Options Indexes FollowSymLinks
  AllowOverride All
</Directory>
